body {
    font-family: "arial";
    margin: 1em 30%;
    height: 40px;
    background-color: lightseagreen;
}


header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 30px solid lightseagreen;
    background-color: white;
}


#logo {
    float: left;
    font-size: 2.7em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
    color: lightseagreen;

    transition: .2s all;
}

#logo:hover {
    color: black;
    background-color: white;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2.2em 2em;
}

nav ul li {
    display: inline;
    padding: 0 .3em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 0.4em;
    transition: .2s color;
}

nav ul li a:hover {
    border-bottom: 3px solid lightseagreen;
}

:hover {
    color:
        white;
}

:hover {
    color:
        lightseagreen;
}

img.foto {
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 380px;
    left: 10px;
    border-radius: 20px;
    background: black;
    padding: 1px;
}